---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ page.date | dateIso }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    <image:image>
      <image:loc>{{ site.url }}{{ site.hero.photo }}</image:loc>
      <image:caption>{{ site.hero.alt | xmlEscape }}</image:caption>
    </image:image>
    {%- for item in gallery %}
    <image:image>
      <image:loc>{{ site.url }}{{ item.src }}</image:loc>
      <image:caption>{{ (item.caption or item.alt) | xmlEscape }}</image:caption>
    </image:image>
    {%- endfor %}
  </url>
  {%- for m in mixtapes | sortMixtapesDesc %}
  <url>
    <loc>{{ site.url }}{{ m.url }}</loc>
    <changefreq>yearly</changefreq>
    <priority>0.6</priority>
    {%- if m.image %}
    <image:image>
      <image:loc>{{ site.url }}{{ m.image }}</image:loc>
      <image:caption>{{ m.title | xmlEscape }} ({{ m.year }})</image:caption>
    </image:image>
    {%- endif %}
  </url>
  {%- endfor %}
</urlset>
